@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Sans+JP:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #FFC18E;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(/image/background-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.wrapp {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    height: 50px;
    background: #513252;
    align-items: center;
    box-shadow: 0px 5px 20px #7D1E6A;
}

.name {
    display: flex;
    color: #FFE7BF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    padding-left: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.mark {
    color: #D4D925;
}

.navigation {
    flex: 1;
    text-align: right;
    justify-content: center;
    align-items: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding-right: 30px;
}

.navigation li {
    list-style: none;
    padding: 0 20px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
}

.navigation  li  a {
    color: #FFEE63;
    text-decoration: none;
}

.navigation li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFE59D;
    display: block;
    margin-top: 2px;
    transition: 0.5s;
}

.navigation li:hover::after {
    width: 100%;
}